# ambiente virtual
.venv/

# cache Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# dados sensíveis / grandes
data/raw/
data/processed/

# modelos treinados
models/
*.pkl
*.joblib

# sistema
.DS_Store